/* Aquí va el CSS proporcionado anteriormente */

/* Estilos adicionales para la calculadora */
#momentForm {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f0f0; /* Fondo gris claro */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

#momentForm .form-group {
    margin-bottom: 20px;
}

#momentForm label {
    display: block;
    margin-bottom: 5px;
}

#momentForm input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#momentForm button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #e50914; /* Vino tinto */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transición de color */
}

#momentForm button:hover {
    background-color: #ff525d; /* Vino tinto más claro al pasar el mouse */
}

#result {
    margin-top: 20px;
}
